:root {
    --azul: #7DD8E4;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: black !important;
}

.back-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
.button-icon {
    width: 50px;
    height: 50px;
    background-color: black;
}
.back-icon-container i {
    transition: transform ease-in-out .2s;
    font-size: 30px;
    color: var(--azul);
}

.back-icon-container i:hover {
    transform: scale(1.3);
    font-size: 30px;
    color: var(--azul);
}


.logo {
    padding-top: 5%;
    max-width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
}
.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.teste {
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose-planet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.choose-planet {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--azul);
    width: 100%;
    animation: zoom-in-zoom-out 3s ease-in-out infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.choose-planet h2 {
    font-family: var(--font);
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

.planets {
    justify-content: space-around;
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.three-first {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}
.three-second {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}
.three-last {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}
.container-button-planet {
    background-color: black;
}
.container-button-planet img {
    display: block;
    max-width: 90%;
    height: auto;
    object-fit: cover;

}
.container-button-planet img:hover {
    animation: rotate-planet 2s linear infinite;

}

@keyframes rotate-planet {
    0% {
        transform: scale(1.0) rotate3d(0, 0, 1, 0deg);
    }
    50% {
        transform: scale(1.2) rotate3d(0, 0, 1, 180deg);
    }
    100% {
        transform: scale(1.0) rotate3d(0, 0, 1, 360deg);
    }
}

.uranusNamePlanet {
    padding-bottom: 25px;
}

h3 {
    font-size: 30px;
    color: white;
    font-family: var(--font);
}

@media screen and (max-width: 1300px) {
    .planets {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
    

@media screen and (max-width: 1050px) {
    .planets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    .teste {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 100%;
        height: auto;
    }
    .choose-planet {
        display: flex;
        text-align: center;
        max-width: 100%;
        height: auto;
    }
    .choose-planet h2 {
        font-size: 18px;
    }
    .choose-planet-container {
        display: flex;
        text-align: center;
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 370px) {
    .three-first {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .three-second {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .three-last {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-button-planet img {
        display: block;
        max-width: 90%;
        height: auto;
        object-fit: cover;
        padding-left: 30px;
    }
    .choose-planet h2 {
        font-size: 10px;
    }
}
